:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  background: #060606;
}

#root {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: conic-gradient(rgba(255, 255, 255, 0.05), #2a568d);
  animation: spin 1s linear infinite;
  mask: radial-gradient(farthest-side, transparent calc(100% - 8px), #000 calc(100% - 8px));
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#search-form {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
  width: 100%;
  padding: 0 8px;
}

input[type="text"], input[type="search"] {
  flex-grow: 1;
  padding: 8px;
  border: 0;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  width: 100%;
}

.sidebar a {
  color: #f0f0f0;
  text-decoration: none;
  transition: color 0.3s, text-decoration 0.3s;
  padding: 4px 8px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 4px;
}

.sidebar a:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #8ac1db;
}

button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #0e967b;
  color: #fff;
  cursor: pointer;
  flex-shrink: 0;
  font-weight: bold;
}

button:hover {
  background-color: #16a085;
}

button:active {
  background-color: #64c2af;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

.sidebar {
  width: 280px;
  padding: 8px;
  background: rgba(6, 17, 42, 0.92);
  color: #ecf0f1;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.search-form {
  display: flex;
  align-items: center;
}
.search-form input[type=search] {
  flex: 1;
  padding-right: 30px;
}
.search-form .clear-search {
  position: absolute;
  right: 95px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
.search-results {
  padding: 0 8px;
  overflow: auto;
}
.search-results > div {
  padding: 4px 8px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 4px;
}
.search-results > div:last-child {
  margin-bottom: 0;
}

.search-results > div:hover {
  background: rgba(255, 255, 255, 0.2);
}

.artist-list {
  border-top: rgba(255, 255, 255, 0.2) 1px solid;
  margin: 8px;
  padding-top: 8px;
}
.artist-list > div {
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 4px;
  background: rgba(255, 255, 255, 0.1);
}
.artist-list > div:hover {
  background: rgba(255, 255, 255, 0.2);
}
.artist-icon {
  width: 12px;
  height: 12px; 
  border-radius: 50%;
  margin-right: 8px;
  border: 1px solid #fff;
}

.track-list {
  overflow: auto;
}
.track-list > div {
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 4px;
}
.track-list h4 {
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 4px;
  color: #d5d5d5;
  transition: background 0.2s;
}

.track-list .stuck h4 {
  background: rgba(5, 10, 33, 0.85);
  border-radius: 0;
}